**/.idea
.temp
static
jieba
**/__pycache__
/cmodels/correct_tests.txt
/config/settings.json
/evaluate/news_ptt_f3_results.json
/evaluate/results.json
/evaluate/results-3.json
/evaluate/results-4.json
/evaluate/results-4-2.json
/evaluate/results-5.json
/evaluate/results-ensemble.json
/evaluate/results-ensemble-2.json
/data/suf.txt
/data/simularity.json
/data/sim_tables.json
/data/pre.txt
/data/news_n_gram_bonus.json
/data/news_n_gram_prob.json
/data/_background_noise_/*
